html {
  text-align: center;
  font-family: 'Josefin Sans';
  background:url("../images/mmo.jpg") no-repeat center center fixed;
  background-blend-mode: darken;
}

body {
  text-align: center;
  align-content: center;
  padding: 10px;
  color: white;
}

label {
  display: block;
	text-align: center;
  font-size: 22px;
  padding: 10px;
}

input {
  display: inline-block;
  border-radius: 8px;
  box-sizing: border-box;
  align-content: center;
  width: 50%;
  padding: 5px;

}

#formcontainer {
	text-align: center;
	margin: 0 auto;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.6);
  width: 40%;
  height: 92vh;
}

#submit {
  display: block;
  text-align: center;
  font-family: 'Josefin Sans';
  background-color: gray;
  color: white;
  padding: 10px ;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
}

#submitcontainer {
  padding: 20px 0;
}

@media only screen and (max-width: 800px) {
  #formcontainer {
  	text-align: center;
  	margin: 0 auto;
    padding: 20px;
    width: 60%;
    height: 90vh;
  }
}
